/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.maplibregl-popup-content {
	background: #dce4ff !important;
	border-radius: 6px !important;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) !important;
	padding: 30px 20px !important;
	width: 600px;
	height: fit-content;
}
.maplibregl-popup-content .pop {
	background-color: rgb(196, 136, 136);
}
.maplibregl-popup-content .pop .name {
	display: flex;
	height: 60px;
	justify-content: space-between;
	align-items: center;
}
.maplibregl-popup-content .pop .label {
	font-size: 1.5em;
	font-weight: 600;
}

.maplibregl-popup-content .pop .items {
	display: flex;
	align-items: center;
}
.maplibregl-popup-content .pop .item {
	width: 120px;
	height: 100px;
	background-color: rgb(111, 112, 196);
}
