.search {
	position: absolute;
	top: 25px;
	left: 25px;
}
.input {
	display: flex;
	background-color: white;
	border-radius: 10px;
	padding: 10px 10px;
	justify-content: space-between;
	min-width: 200px;
	width: 200px;
	align-items: center;
}
.input input {
	border: none;
	min-width: 180px;
	width: 180px;
	background: #ffffff;
	font-size: 16px;
}
.input input:focus,
.input input:active,
.input input:hover {
	outline: none;
}
.hit {
	background-color: white;
	border: 1px double grey;
	border-radius: 5px;
	padding: 10px 10px;
	min-width: 160px;
	align-items: center;
	user-select: none;
	cursor: pointer;
	margin-top: 0px;
}
.hit:first-child {
	margin-top: 3px;
}
